{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel",
        "babel-plugin-transform-object-assign"
      ],
    },
  }
}
