.button {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  width: 200px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
